@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap');

html
{
  font-family: 'Abhaya Libre', serif;
}

header {
    position: fixed;
    /* background-color: rgb(206, 206, 206); */
    background-color: black;
    width: 100%;
    top: 0;
    z-index: 2;
    
  }

  .header{
    padding: 10px 8px 6px 8px;
    
  }
/*
  .header ul li a {
    color:white;
  }
  */
  
  .subheader {
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 8px;
    text-align: center;
  }
  
  header ul {
    list-style-type: none;
    margin: 0px 20px;
    padding: 0;
    font-size: 1.2em;
  }
  
  header li {
    display: inline;
  }
  
  header li a {
    text-decoration: none;
    /* color: black; */
    color: white;
    vertical-align: middle;
  }
  
  .right {
      float: right;
      margin-left: 20px;
  }

  body {
    margin: 0;
    padding-top: 40px;
    height: 100vh;
    
  }

  .returnbutton
  { 
    position: absolute;
    top: -60px;
    border: 2px solid rgb(231, 231, 231);
    padding: .5em;
    text-decoration: none;
    color: rgb(231, 231, 231);
  }

  .returnbutton:hover {
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }
  
  footer {
  background-color: rgb(19, 19, 19);
  color: white;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  }
  
  footer > a {
  display: block;
  text-align: center;
  margin: 0;
  color: white;
  text-decoration: none;
 }

  footer > a > p {
    margin: 0;
  }
  
  h1, h2, h3
  {
    margin: 0;
  }

  .margin80 {
    margin-top: 80px;
  }