header {
  background-image: url("images/headerImage.png");
  line-height: 1.2;
  margin: 0;
  padding: 10vw 2em;
  text-align: center;
}

footer
{
  background-color: #F6F5F5;
\\
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 100px;
  margin: none;
  line-height: 0;
}

h2,
strong {
  margin-left: 30px;
  color: #333;
}

p
{
  margin-left: 30px;
}

iframe
{
  margin: 30px;
}

body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color:  #606060;
}

.box
{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  padding: 10px 10px 10px 10px;
  background-color: #F6F5F5;
}

.navbar{
  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;
}

.navbar > li
{
  display: inline-block;
  padding-right: 50px;
}

.navbar > li > a
{
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: #1C1C1C;
}

.navbar > li > a:hover
{
  color: #606060;
}
