header {
  background-image: url("images/headerImage.png");
  line-height: 1.2;
  margin: 0;
  padding: 10vw 2em;
  text-align: center;
}



h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 100px;
  margin: none;
  line-height: 0;
}

h2,
strong {
  color: #333;
}

p {
  margin: 0;
}

iframe {
/*  width: 500px; */
/*  height: 285px;*/

}

img {
  width: 500px;
  height: 285px;
}

body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #606060;
}

p
{
  margin-bottom: 20px;
}

.box {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  padding: 10px 30px 30px 30px;
  background-color: #F6F5F5;
}

/* Create two columns that float next to eachother */
.column {
  width: 50%;
  float: left;
  margin-top: 6px;
}

/* Clear floats after the columns */
/* Without this, the box breaks */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;
}

.navbar>li {
  display: inline-block;
  padding-right: 50px;
}

.navbar>li>a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: #1C1C1C;
}

.navbar>li>a:hover {
  color: #606060;
}

footer {
  padding: 20px;
  background-color: #F6F5F5;
  \\
}
