body
{
  /* Image
  background-image: url("assets/images/main/kalen-emsley-eHpYD4U5830-unsplash.jpg");
  background-position: 50% 70%;
  */
  background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-position: 50% 0%;
}

.container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0px 2vw;
  padding: 0;
  font-size: 1.3em;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: black;
}

.right {
  float: right;
}

.main-header {
  background-color: rgb(19, 19, 19);
  color: white;
  padding-top: 2vh;
  padding-bottom: 4vh;
  padding-left: 2vw;
  padding-right: 2vw;

}

.header-name1 {
  font-size: 10vh;
}

.header-name2 {
  font-size: 2em;
}

.header-name2 > h3 {
  transform: rotate(90deg);
}

.header-traits {
  font-size: 2em;
  color: rgb(206, 206, 206);
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(4, 20vw);
  grid-template-rows: auto;
  grid-column-gap: 40px;
  justify-content: center;
  background-color: rgb(206, 206, 206);
  box-shadow: 0px 2px 4px rgb(95, 95, 95);
}

.work-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
  color: black;
  text-decoration: none;
}

.work-item h2 {
  text-align: center;
}

.work-item:hover {
  background-color: rgb(196, 196, 196);

}

.work-item:hover a {
  color: rgb(206, 206, 206);
}

h1, h2, h3
{
  margin: 0;
}

footer {
  box-shadow: 0px -2px 5px rgb(95, 95, 95);
}