/* header and footer */

header, footer
{
    font-family: 'Play', sans-serif;
}

header > div, footer > div
{
    position: fixed;
}

header > div
{   
    top: 0px;
}

footer > div
{
    bottom: 0px;
}

header div a, footer div a
{
    text-decoration-line: none;
}

header h2
{
    margin: 5vh 2vw;
}

header > .submenu
{
    top: 120px;
}

footer h2
{
    margin: 5vh 2vw;
}

.nav
{
    margin-bottom: 5vh;
}

.nav > a > h3, h4
{
    display: inline;
    margin-right: 5vw;
    color: white;
}

/* body elements */

body
{   
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}

.bng1
{
    background-image: url(images/index_cover4_blur.png);
}

.bng2
{
    background-image: url(images/index_cover4.png);
}

.bng3
{
    background-color: #131313;
}

.main
{
    width: 50vw;
    margin: 10vh auto 0 auto;
}

.flex-container
{
    display: flex;
    flex-wrap: wrap;
}

.flex-container div
{
    margin-left: 10px;
    margin-right: 10px;
    width: 5wv;
}

.flex-container div img
{
    width: 100%;
}

.flex-container div h5
{
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
    font-family: 'Play', sans-serif
}

.flex-container div h3
{
    text-align: center;
    font-family: 'Play', sans-serif
    
}

.flex-container div ul
{
    font-family: 'Didact Gothic', sans-serif;
    font-size: large;
}

/*buttons*/

.button-square
{
    padding: 15px;
    border-radius: 20px;
}

.flex-container .button-square img
{
    width: 100%;
}

/* links and navigation */

a {
    color: rgb(0, 68, 255);
}


/* Text */

.subtitle
{
    font-family: 'Didact Gothic', sans-serif;
    margin: 2px;
}

p
{
    font-family: 'Titillium Web', sans-serif;
    font-size: large;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 2vh;
    color: white;
}

h1,h2, h3
{
    font-family: 'Play', sans-serif;
    margin-top: 0px;
    color: white;
}

.short
{
    max-width: 40vw;
}

.left
{
    float: left;
    left: 0px;

}

.right
{
    float: right;
    right: 0px;
    text-align: right;
}
 

 
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 900px)
 {
     
    header > div, footer > div
    {
        margin: 10px;
        padding: 0px;
    }

    .container
    {
        width: 80vw;
    }

 }

