<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../global_style.css" />
    <link rel="stylesheet" href="../article_style.css" />
    <title>Insert Title</title>
  </head>

  <header>
    <a href="../../../index.html">MR. PERGERSON</a>
    <div class="header-right">
      <a href="../gamedesign.html">GAME DESIGN</a>
      <a href="../webdev.html">WEB DEVELOPMENT</a>
      <a href="../projmang.html">PROJECT MANAGEMENT</a>
    </div>
  </header>

  <body>
    <div class="article-header">Title</div>
    <div class="block-container">
      <div class="article-description">
        <div class="article-description--image"></div>
        <div class="article-description--text">
          <p class="article-description--text--info">
            Released: 2020 <br />
            Medium: Video Game <br />
            Tools: Unity <br />
            Type: Collaborative work <br />
          </p>
          <p class="article-description--text--text">
            Algae Bandit is a game about being a rogue crab who has chosen to
            steal food from other crabs. As the player, you get to choose how
            you want to steal food from crabs, by either using stealth or
            beating up any crab in the way. This game was developed during the
            summer of 2020 and was part of the Game Dev Best Practices Workshop,
            which was hosted by the Game Dev Club at SJSU.
          </p>
        </div>
      </div>
      <div class="gallery-2col">
        <div class="gallery-2col--item"></div>
        <div class="gallery-2col--item"></div>
        <div class="gallery-2col--item"></div>
        <div class="gallery-2col--item"></div>
      </div>
      <div class="textbox">
        <h2 class="textbox--title">Gameplay</h2>
        <p>
          The core gameplay loop of the game is collecting algae that is guarded
          by other crabs. The goal of the game is to collect all the algae in
          the level. The player can navigate to each algae but they must be
          tactical when thinking about how they will approach another crab. When
          the player approaches a crab, they must be careful to not expose their
          back because it’s defenseless. The player can block attacks in front
          of them but they have limited block stamina.
        </p>
        <h2 class="textbox--title">Level Design</h2>
        <p>
          I designed all the levels in the game. My design process started with
          creating some interesting pathways. I would create different layouts
          in Unity until I found one that could possibly create some unique
          challenges for the player. Once the layout was finished, I would try
          to predict the player’s pathway and create challenges along the way.
          If I felt that the pathways to each piece of algae was too easy, I
          would set more challenges for the player. Once done, I would test the
          level and repeat the process until I was happy with it.
        </p>
      </div>
    </div>
  </body>

  <footer></footer>
</html>
