body
{
  background-image: url("assets/images/main/kalen-emsley-eHpYD4U5830-unsplash.jpg");
  background-position: 50% 70%;
}

.container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0px 2vw;
  padding: 0;
  font-size: 1.3em;
}

li {
  display: inline;
}


li a {
  text-decoration: none;
  color: black;
}

.right {
  float: right;
}

.main-header {
  background-color: rgb(19, 19, 19);
  color: white;
  padding-top: 2vh;
  padding-bottom: 4vh;
  padding-left: 2vw;
  padding-right: 2vw;

}



.grid-footer {
  background-color: rgb(19, 19, 19);
  color: white;
}

.grid-footer > p {
  text-align: center;
}

.main-grid-container {
  display: grid;
  grid-template-columns: 90% auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.header-name1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  font-size: 4em;
}

.header-name2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 4;
  font-size: 2em;
}

.header-name2 > h3 {
  transform: rotate(90deg);
}

.header-traits {
  grid-column: 1 / span 2;
  font-size: 2em;
  color: rgb(206, 206, 206);
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  grid-template-rows: auto;
  grid-column-gap: 40px;
  justify-content: center;
  background-color: rgb(206, 206, 206);
}

.work-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;

}

.work-item a {
  display: block;
  color: black;
  text-decoration: none;
}

.work-item h2 {
  text-align: center;
}

h1, h2, h3
{
  margin: 0;
}
