header {
  position: sticky;
  top: 0;
}

.header {
  background-color: rgb(206, 206, 206);
  padding: 8px;
}


.subheader {
  background-color: rgb(19, 19, 19);
  color: white;
  padding: 8px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0px 20px;
  padding: 0;
  font-size: 1.3em;
}

li {
  display: inline;
}


li a {
  text-decoration: none;
  color: black;
}

.right {
    float: right;
}

body {
  margin: 0;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-row-gap: 20px;
  width: 70%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  background-color: rgb(206, 206, 206);
  padding: 5px 20px;
}

.page-header h1 {
  font-size: 6em;
}

.page-header p {
  font-size: 1.5em;
}

.page-work-display{
  background-color: rgb(0, 0, 0);
}

.page-work-display h3 
{
  margin: 20px 0px;
  text-align: center;
  color: white;
}

.page-work-display h2
{
  margin: 20px 0px;
  text-align: center;
  color: white;
}

.image-display {
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding-top: 43%; /* 2.35:1 Aspect Ratio */
  background-position: center; 
}

footer {
background-color: rgb(19, 19, 19);
color: white;
padding: 6px;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
}

footer > p {
text-align: center;
margin: 0;

}

h1, h2, h3
{
  margin: 0;
}