.article-header {
    background-color: #F4F4F4;
    text-align: center;
    padding: 66px 20px 20px 20px;
    font-size: 2em;
    font-weight: bold;
}

.article-description {
    margin-top: 100px;
    min-height: 400px;
    margin-bottom: 5px;
    background-color: white;
}

.article-description--image {
    width: 100%;
    padding-top: 56.25%;
    background-position: center;
    background-size: cover;
}

.article-description--text {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    
}

.article-description--text--info {
    display: block;
    flex-basis: 250px;
    margin-right: 20px;
    padding: 10px;
}

.article-description--text--text {
    display: block;
    flex-basis: 100px;
    flex-grow: 1;
    
}

.gallery-1col {
    display: grid;
    grid-gap: 10px;
}

.gallery-2col {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    
}

.gallery--item {
    width: 100%;
    padding-top: 75%;
    background-position: center;
    background-size: cover;
}

/* delete */
.gallery-2col--item {
    width: 100%;
    padding-top: 75%;
    background-position: center;
    background-size: cover;
}

.textbox {
    margin-top: 5px;
    padding: 20px;
    background-color: white;
}

.textbox--title {
    text-align: center;
}

footer {
    margin-top: 40px;
    background-color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .article-description {
        margin-top: 0px;
    }

    .article-description--text {
        flex-direction: column;
        padding: 20px;
    }

    .article-description--text--info {
        flex-basis: 0px;
        padding: 0px;
    }
    
    .block-container {
        padding: 0;
    }

    footer {
        margin-top: 0;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 800px) {
       

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 